.obsidian/*
!.obsidian/plugins
!.obsidian/app.json
!.obsidian/canvas.json
!.obsidian/core-plugins.json
.obsidian/plugins/obsidian-minimal-settings
.obsidian/plugins/copilot/data.json
.obsidian/plugins/digitalgarden
.DS_Store
